<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="vga256config" class="my.infinity.dataConfig.ResolutionColorConfig">
        <property name="depth" value="1"/>
        <property name="height" value="480"/>
        <property name="width" value="640"/>
        <property name="maxValue" value="127"/>
        <property name="minValue" value="-128"/>
        <property name="configName" value="vga256"/>
    </bean>

    <bean name="vga65kConfig" class="my.infinity.dataConfig.ResolutionColorConfig">
        <property name="depth" value="3"/>
        <property name="height" value="480"/>
        <property name="width" value="640"/>
        <property name="maxValue" value="127"/>
        <property name="minValue" value="-128"/>
        <property name="configName" value="vga65k"/>
    </bean>

    <bean name="qvga256Config" class="my.infinity.dataConfig.ResolutionColorConfig">
        <property name="depth" value="1"/>
        <property name="height" value="240"/>
        <property name="width" value="320"/>
        <property name="maxValue" value="127"/>
        <property name="minValue" value="-128"/>
        <property name="configName" value="qvga256"/>
    </bean>

    <bean name="testConfig" class="my.infinity.dataConfig.ResolutionColorConfig">
        <property name="depth" value="2"/>
        <property name="height" value="3"/>
        <property name="width" value="4"/>
        <property name="maxValue" value="2"/>
        <property name="minValue" value="-1"/>
        <property name="configName" value="test"/>
    </bean>

    <bean name="vga256Walker" class="my.infinity.InfinityWalker">
        <constructor-arg ref="vga256config"/>
    </bean>

    <bean name="vga65kWalker" class="my.infinity.InfinityWalker">
        <constructor-arg ref="vga65kConfig"/>
    </bean>

    <bean name="qvga256kWalker" class="my.infinity.InfinityWalker">
        <constructor-arg ref="qvga256Config"/>
    </bean>

    <bean name="testWalker" class="my.infinity.InfinityWalker">
        <constructor-arg ref="testConfig"/>
    </bean>
</beans>